<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prueba</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/my.css">
  </head>

  <body>

    <div class="fondo">

    </div>

{{{body}}}

  </body>

  </script>
</html>
