
<section class="tizquierda">

<div class="margenIzq">
<div class="textoIzq">

  <h1>Lado Izquierdo</h1>

  <p>Sorpresa 1</p>
  <button id="btn1" type="button" name="button" onclick="showimg1()">Click</button>

  <div  id="foto1" class="hidden" >
    <img src="https://pbs.twimg.com/profile_images/446566229210181632/2IeTff-V_400x400.jpeg" alt="imagen1" width="50%" height="50%">
  </div>
</div>
</div>

</section>



<section class="tderecha">

  <div class="margenDer textoDer" align= "right">

      <h1>Lado Derecho</h1>

        <p>Sorpresa 2</p>
        <button id="btn2" type="button" name="button" onclick="showimg2()">Click</button>

        <div class="hidden" id="foto2">
          <img src="https://www.pets4homes.co.uk/images/articles/3825/large/how-much-sleep-do-puppies-actually-need-585a6d2b3e251.jpg" alt="imagen2" width="15%" height="10%">
          </div>
    </div>
</section>
